[access "refs/heads/*"]
	read = group vCHS Members
	push = group vCloud CPI Commiters - Unused
	pushMerge = group vCloud CPI Commiters - Unused
	label-Code-Review = -2..+2 group vCloud CPI Commiters - Unused
	label-Verified = -1..+1 group vCloud CPI Commiters - Unused
	submit = group vCloud CPI Commiters - Unused
	create = group vCloud CPI Commiters - Unused
[access "refs/tags/*"]
	pushTag = group vCloud CPI Commiters - Unused
	pushSignedTag = group vCloud CPI Commiters - Unused
	create = group vCloud CPI Commiters - Unused
	forgeCommitter = group vCloud CPI Commiters - Unused
